.change_snake {       
    background-color: var(--primary-color); 
    cursor: pointer;         
    position: relative;
  }
  
  .snake_button {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 5px;
    cursor: pointer;  
    border-bottom: 1px solid var(--divider-color);
    transition: all .5s ease-out;    
  }

  .change_snake:hover {
    background-color: var(--secondary-color);
  }

  .snake_img {    
    width: 40px;
    overflow: hidden; 
    border-radius: 50%;
    transition: all 0.3s ease-out;          
  }

  .snake_name {  
    width: 100%;  
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: left;
    white-space: nowrap; 
    font-family: 'Lobster';
    color: var(--accent-color);    
    transition: all 0.5s ease-out;
    transition-delay: .2s;      
  }    
  
  .snake_list {
    display: none;
    position: absolute;              
    top: calc(50% - 5px);
    left: calc(100% + 5px); 
    opacity: 0; 
    z-index: 1;  
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  
  }
   
  .show_list {
    display:block;
    opacity: 1;
    
  }
  
  .snake_list_item {   
    min-height: 50px;
    min-width: 200px;
    width: 100%;  
    background-color: var(--divider-color);
    color: var(--text-color);
    cursor: pointer;  
    font-weight: bold;    
    border-radius: 0px;   
    border: 1px solid var(--primary-color); 
    text-align: left;
    padding-left: 10px;
      
  }
  
  .snake_list_item:hover {
    background-color: var(--accent-variant);    
    transition: all 0.2s ease-out;
    overflow: hidden;
  }
  
  .snake_list_item:first-child {
    border-radius: 5px 5px 0px 0px;
  }

  .snake_list_item:first-child::before {
    content: '';
    background-color: var(--divider-color);
    border-top: 1px solid var(--primary-color); 
    border-left: 1px solid var(--primary-color);
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0px;
    top: 17px;
    transform: translate(-50%, -50%) rotate(-45deg);  
  }

  .snake_list_item:first-child:hover::before {
    background-color: var(--accent-variant);
  } 
  
  
  .snake_list_item:last-child {
    border-radius: 0px 0px 5px 5px;
    text-align: center;
  }
  
  .add_snake {
    background-color:var(--secondary-variant);
  }


@media only screen and (max-width: 768px) {  
    .change_snake { 
      max-height: 50px;
      width:200px; 
      background-color: var(--secondary-color);
      padding: 0px;
    }    
  
    .snake_button {    
      max-height: 45px;
      padding: 3px;
      border: 0;
    }    

    .snake_list {
      left: 0;
      top: 100%;
      width: calc(100vw - 10px);  
    }

    .snake_list_item{
      white-space: nowrap;      
    }

    .snake_list_item:first-child::before {
      content: '';      
      left: 17px;
      top: 1px;
      border-top: 1px solid var(--primary-color); 
      border-right: 1px solid var(--primary-color);
      border-left: none; 

       
    }
  }