.change_snake {       
    background-color: var(--primary-color); 
    display: flex;    
    flex-direction: row;
    justify-content:left;
    align-items: center;      
    cursor: pointer;         
    position: relative;    
  }

  .change_snake:hover .snake_change_icon{   
    transform: rotate(360deg);
    transition:all 0.5s;
  }
  
  .snake_change_icon {    
    color: var(--accent-color); 
    position: absolute;  
    bottom: 10px;
    right: 10px; 
  }
  
  .snake_button {
    width: 100%;
    display: flex;
    flex-direction: column;        
    align-items: center;    
    padding: 25px;
    cursor: pointer;  
  }

  .snake_img_container {    
    position: relative;
  }
  .snake_img {    
    width: 100%;
    overflow: hidden;   
    border-radius: 50%;
  }

  .snake_name {        
    padding-top: 10px;       
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    font-family: 'Lobster';
    color: var(--accent-color);
  }    
  
  .snake_list {
    display: none;
    position: absolute;              
    top: 50px;
    left: 100%; 
    opacity: 0; 
    z-index: 1;  
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  
  }
   
  .show_list {
    display:block;
    opacity: 1; 
  }
  
  .snake_list_item {   
    min-height: 30px;
    min-width: 150px;
    width: 100%;  
    background-color: var(--divider-color);
    color: var(--text-color);
    cursor: pointer;  
    font-weight: bold;    
    border-radius: 0px;   
    border: 1px solid var(--primary-color); 
    text-align: left;
    padding-left: 10px;
      
  }
  
  .snake_list_item:hover {
    background-color: var(--accent-variant);    
    transition: all 0.2s ease-out;
    overflow: hidden;
  }
  
  .snake_list_item:first-child {
    border-radius: 5px 5px 0px 0px;
  }

  .snake_list_item:first-child::before {
    content: '';
    background-color: var(--divider-color);
    border-top: 1px solid var(--primary-color); 
    border-left: 1px solid var(--primary-color);
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0px;
    top: 17px;
    transform: translate(-50%, -50%) rotate(-45deg);  
  }

  .snake_list_item:first-child:hover::before {
    background-color: var(--accent-variant);
  } 
  
  
  .snake_list_item:last-child {
    border-radius: 0px 0px 5px 5px;
    text-align: center;
  }
  
  .add_snake {
    background-color:var(--secondary-variant);
  }


@media only screen and (max-width: 768px) {  
    .change_snake {    
      border-radius: 3px;
      max-height: 50px;
      width:100px; 
      padding: 3px 10px 3px 10px;
      background-color: var(--secondary-color);
    }
    .snake_img {
      width: 40px;
      display: block;
      padding-right: 5px;
    }

    .snake_change_icon {
      display: none;
    }
  
    .snake_button {    
      margin: 0px;  
      padding: 0;  
      border-radius: 0px;  
      flex-direction: row; 
      align-items: center;
      justify-content: left; 
    }
    .snake_name {
      padding: 0px;      
    }

    .snake_list {
      left: 0;
      width: calc(100vw - 30px);         
                     
    }

    .snake_list_item{
      white-space: nowrap;      
    }

    .snake_list_item:first-child::before {
      content: '';      
      left: 17px;
      top: 1px;
      border-top: 1px solid var(--primary-color); 
      border-right: 1px solid var(--primary-color);
      border-left: none; 

       
    }
  }