.menu_item {
    font-weight: bold;
    height: 50px;
    display: grid;
    align-items: center;
    justify-content: left;   
    cursor: pointer; 
    padding-left: 10px;
      
    
}

.menu_item:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}