.menu_item {
    color: var(--accent-color);
    font-size: 1.2em;
    height: 50px;
    display: grid;
    align-items: center;
    justify-content: left;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: var(--divider-gradient);
    cursor: pointer; 
    padding-left: 10px;
    font-size: large;  
    font-family: 'Lobster', cursive;
}

.menu_item:hover {
    background-color: var(--secondary-color);
}