.location {    
    height:65px;
    width: 100%;    
    display:flex;
    justify-content:left;
    align-items:flex-end;
    padding-left: 15px;
    padding-bottom: 5px;  
    color: var(--divider-color); 
    font-weight: bold;         
    border-bottom: 1px solid var(--divider-color);     
}

@media only screen and (max-width: 768px) {
    .location {
        display: none;
        
    }
}