
.calendar {     
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto 6fr;
    position: relative;     
    height: 100%;  
    width: 100%;
  }
  
  .calendar_body {  
    background-color: var(--primary-color);  
    background-image: var(--vgradient); 
    border-radius: 0px 0px 5px 5px;  
    padding: 20px;
    display: grid;  
    grid-gap: 2px;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: auto;  
    overflow: hidden;  
  }
  
  .calendar_header {
    height: 50px;  
    background-color: var(--primary-color);  
    border-bottom: 2px solid var(--divider-color);
    border-radius: 5px;
    display: grid;
    grid-gap: 5px;  
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: 100%;
    align-items: center;
    justify-content: space-between;  
    font-weight: bold;  
  }
  
  .calendar_header button {  
    height: 35px;
    width: 120px;  
  }
  
  .calendar_year {   
    color: var(--accent-color); 
    font-size: x-large;  
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content:flex-end;
    padding-right: 30px;
       
  }
  
  .year_and_today {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .tab {
    height: 100%;
    width: 100%;
    background-color: var(--divider-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 20px 0px 0px;    
  }
  
  .tab div {
    padding-left: 5px;
  }
  
  .week_days {
    background-color: var(--primary-color);
    display: grid;  
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100%;
    padding: 5px 20px;
  }
  
  .day, .today{
    background-color: var(--secondary-color);       
    display: grid;   
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;  
    padding: 5px;
    justify-content: center;      
    cursor: pointer;
  }
  
  .day:hover, .today:hover {
    background-color: var(--accent-variant);
    transform: scale(1.05);
    overflow: hidden;
    transition: all .2s linear;
  }
  
  .today {
    color: var(--accent-color);
    background-color: var(--secondary-variant);
  }
  
  .events {       
    display: grid; 
    flex-direction: column; 
    align-items: center;  
    justify-content: center;
      
  }
  
  .event {  
    padding: 2px 3px;
    color: var(--accent-color);
  }

  @media only screen and (max-width: 768px) {
    .calendar { 
      width: 100%;      
    }

    .calendar_header { 
      grid-template-columns:1fr 2fr 1fr 1fr 1fr;
      grid-gap: 2px;
    }

    .calendar_body {          
      padding: 10px;       
    }

    .calendar_header {      
      display: grid;
      
      flex-direction: row;
    }

    .calendar_header button {  
      height: 35px;
      width: 50px;  
    }

    .calendar_year { 
      font-size: large;      
      padding-right: 5px;
    }

    .tab {      
      visibility: hidden;
      position: absolute;
    }
    
  }