
.navigation { 
    height: 80px;    
    padding-bottom: 10px;
    border-radius: 5px; 
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%; 
    left: 0; 
  }
  
  .headline {
    padding-left: 10px;
    font-size: 2.5rem;
    color: var(--accent-color);
    font-family: 'Lobster', cursive;
  }
  
  .nav_user {
    background-color: var(--primary-color);
    background-image: var(--hgradient);    
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
  }
  
  .user_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
  }
  
  .logout {  
    font-size: 2rem;
    color: var(--accent-color);  
    margin: 10px;  
    cursor: pointer;
  }  
  
  .nav_snake {       
    background-color: var(--primary-color); 
    display: flex;    
    flex-direction: row;
    justify-content:left;
    align-items: center;      
    cursor: pointer;         
    position: relative;
    
  }

  .nav_snake:hover .nav_snake_name, .nav_snake:hover .nav_snake_bars {   
    color: var(--accent-variant);   
  }
  
  .nav_snake_bars {    
    color: var(--accent-color);
    font-size: x-large;
    padding-left: 5px;     
  }
  
  .snake_button {
    display: grid;
    width: 100%;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--secondary-color);    
  }

  .nav_snake_name {
    color: var(--accent-color); 
    font-size: x-large;  
    font-family: 'Lobster', cursive;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    display: flex;   
  }    
  
  .snake_list {
    display: none;
    position: absolute;              
    top: 0;
    left: 100%; 
    opacity: 0; 
    z-index: 1;    
  }
  
  .show_list {
    display:block;
    opacity: 1; 
  }
  
  .snake_list_item {   
    min-height: 50px;
    min-width: 200px;
    width: 100%;  
    background-color: var(--divider-color);
    color: var(--text-color);
    cursor: pointer;  
    font-weight: bold;
    font-size:20px; 
    border-radius: 0px;   
    border: 1px solid var(--primary-color); 
    text-align: left;
    padding-left: 10px;
      
  }
  
  .snake_list_item:hover {
    background-color: var(--accent-variant);
    font-size: 22px;  
    transition: all .1s ease-in;
    overflow: hidden;
  }
  
  .snake_list_item:first-child {
    border-radius: 5px 5px 0px 0px;
  }
  
  .snake_list_item:last-child {
    border-radius: 0px 0px 5px 5px;
    text-align: center;
  }
  
  .add_snake {
    background-color:var(--secondary-variant);
  }

@media only screen and (max-width: 768px) {
  .navigation {      
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 0px; 
    border-bottom: 2px solid var(--divider-color);      
  }

  .nav_user {    
    border-radius: 5px 5px 0px 0px;    
    flex-direction: row;    
    align-items: center;
    padding: 5px;  
    border-bottom: 2px solid var(--divider-color); 
  }

  .headline {    
    font-size: 1.5rem;
  }

  .logout {  
    font-size: 1.5rem;    
  } 

  .nav_snake {    
    border-radius: 0px 0px 0px 0px;
  }

  .snake_button {    
    margin: 0px;    
    border-radius: 0px;    
  }
}