
.header { 
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%; 
    left: 0; 
  }
  
  .headline {
    padding-left: 10px;
    font-size: 1.5rem;
    color: var(--accent-color);
    font-family: 'Lobster', cursive;
  }
  
  .head_user {
    background-color: var(--primary-color);
    background-image: var(--hgradient);    
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
  }
  
  .user_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
  }
  
  .logout {  
    font-size: 1.2rem;
    color: var(--accent-color);  
    margin: 10px;  
    cursor: pointer;
  } 
  

@media only screen and (max-width: 768px) {
  .header {      
    display: flex;
    flex-direction: column-reverse;    
    border-bottom: 2px solid var(--divider-color);      
  }

  .head_user { 
    flex-direction: row;    
    align-items: center;     
    border-bottom: 2px solid var(--secondary-color); 
    padding: 10px;
  }

  .headline {    
    font-size: 1.2rem;
  }
}