
.loading_page {        
    background-color: var(--primary-variant);  
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;        
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;   
  }
  
  @keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  
  .spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 10px var(--text-color);
    border-bottom-color: var(--accent-color);
    border-radius: 50%;
    content: "";
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
  }
  
  .inactive {    
    background-color:rgba(0,0,0,0.5);
    border-radius: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: small;
    color: var(--accent-color);
  }