/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* css files import*/
@import './components/Loading/Loading.css';
@import './components/Login/Login.css';
@import './components/Dashboard/Dashboard.css';
@import './components/Forms/Forms.css';
@import './components/Calendar/Calendar.css';
@import './components/Navigation/Navigation.css';

:root {
  --bg-color: #121512;
  --primary-color: #202120;
  --primary-variant: #202220;  
  --secondary-color: #282928;
  --secondary-variant: #283028; 
  --accent-color: #658252;
  --accent-variant: #3e4b2b;
  --divider-color: #3d3d3d;   
  --text-color: #B3B3B3; 
  --vgradient: linear-gradient(180deg, var(--primary-color) 25%, var(--primary-variant) 74%); 
  --hgradient: linear-gradient(90deg, var(--primary-color) 25%, var(--primary-variant) 74%); 
  --divider-gradient: linear-gradient(to left, var(--secondary-color) 15%, var(--divider-color));
  --button-gradient: linear-gradient(90deg, var(--accent-color) 25%, var(--primary-variant) 74%);
  
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color:  var(--text-color);
  background-color: var(--bg-color); 
  padding: 0px;
  margin: 0px; 
}

button {
  height: 35px;  
  background-color: var(--secondary-color);
  color:var(--accent-color);  
  font-weight: bold;
  cursor: pointer;
  width: 140px; 
  border: none;
  border-bottom: 2px solid var(--accent-variant);
}

button:hover {
  border-bottom: 2px solid var(--accent-color);
}

input, textarea, select{
  background-color: var(--divider-color);
  color: var(--text-color); 
  border: 0;   
  padding: 10px;
  margin: 10px 0;  
  width: 140px;
  border-bottom: 2px solid var(--accent-variant);
}

label {
  font-weight: bold;
  text-align: left; 
}

input {    
  height: 1.5rem;  
}

input:focus {
  border: 2px solid var(--accent-color);  
}

textarea {
  height: 50px;
}

.App {
  text-align: center; 
  height: 100vh; 
  min-width: 350px; 
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.wrapper {  
  margin-top: 70px;
  margin-left: 160px;  
  display: flex;    
  align-items: top;
  justify-content: center;
  gap: 10px; 
  height: 100%;  
  max-height: 800px;   
}

.button_container { 
  grid-column-start: 1;
  grid-column-end: 3; 
}

.active_button {
  background-color: var(--secondary-variant);
}

@media only screen and (max-width: 768px) {
  .App {
    padding: 0px 5px;    
    height: 100%;
  }

  .wrapper {
    display: flex;      
    flex-wrap: nowrap;    
    justify-content:center; 
    margin: 130px 5px 0px 5px; 
  }

}



